[submodule "passionfruit-kitchen/themes/my-hinode-site"]
	path = passionfruit-kitchen/themes/my-hinode-site
	url = https://github.com/gethinode/hinode.git
[submodule "passionfruit-kitchen/themes/arberia"]
	path = passionfruit-kitchen/themes/arberia
	url = https://github.com/antedoro/arberia.git
[submodule "passionfruit-kitchen/themes/themes/hugo-theme-luna"]
	path = passionfruit-kitchen/themes/themes/hugo-theme-luna
	url = https://github.com/Ice-Hazymoon/hugo-theme-luna
	branch = master
