{{ define "main" }}
<!DOCTYPE html>
<html>
<head>
    <link href="/dist/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/yoj4fju.css">
</head>
<body class="pb-32">
  <h1 class="container px-2 sm:px-12 md:px-16 lg:px-24 mx-auto text-5xl font-bold pb-0 pt-16 font-sans text-pink-800 dark:text-purple-200" style = "font-family: 'fleur', sans-serif;">{{ .Title }}</h1>

  {{ $paginator := .Paginate .Pages.ByDate.Reverse }}
  <div class="container px-2 sm:px-12 md:px-16 lg:px-24 mx-auto">
    {{ range $paginator.Pages }}
      {{- partial "blog-post.html" . -}}
    {{ end }}
  </div>
 <hr/>
  {{- partial "pagination.html" . -}}
  
</body>
</html>
{{ end }}