{{ define "main" }}
<!DOCTYPE html>
<html>
<head>
    <link href="/dist/styles.css" rel="stylesheet">
</head>
<body>
  <h1 class="container px-2 sm:px-12 md:px-16 lg:px-24 mx-auto text-xl md:text-2xl lg:text-3xl uppercase font-bold pb-0 pt-8 font-sans" style = "color:peru">{{ .Title }}</h1>

  {{ $paginator := .Paginate .Pages.ByDate.Reverse }}
  <div class="container px-2 sm:px-12 md:px-16 lg:px-24 mx-auto">
    {{ range $paginator.Pages }}
      {{- partial "blog-post.html" . -}}
    {{ end }}
  </div>

  {{- partial "pagination.html" . -}}
  
</body>
</html>
{{ end }}