{{ define "main" }}
  {{ $lastmodstr := (partial "date.html" (dict "date" .Lastmod "language" $.Page.Language "format" "long")) }}
  {{ $datestr := (partial "date.html" (dict "date" .Date "language" $.Page.Language "format" "long")) }}

  <!DOCTYPE html>
  <html>
  <head>
    <link href="/dist/styles.css" rel="stylesheet"> 
    <style>
      img {
        max-width: auto;
        height: auto;
      }
    </style>
  </head>
  <body>

    <div style = "background-color: papayawhip" class="pt-1 pb-1 capitalize no-underline font-sans"> 
        <div class = "mx-auto px-4 no-underline text-left" style = "text-decoration: none; max-width: fit-content;">
        <a href = "https://passionfruitkitchen.com/" class = "no-underline font-semibold hover:text-yellow-600 text-xs lg:text-sm" style = "text-decoration: none;">Passionfruit Kitchen </a>
        <a href = "https://passionfruitkitchen.com/categories/" class = "no-underline font-semibold hover:text-yellow-600 text-xs lg:text-sm" style = "text-decoration: none;"> · Categories</a>
        {{ range first 1 .Params.categories }}
            <a href="{{ "../PassionfruitKitchen/categories/" | relLangURL }}{{ . | urlize }}" class = "no-underline font-semibold text-xs lg:text-sm hover:text-yellow-600" style = "text-decoration: none;"> · {{ . }}</a>
        {{ end }}
        <a class = "no-underline font-semibold text-xs lg:text-sm hover:text-yellow-600" style = "text-decoration: none;" > · {{ .Title }}</a>
        </div>
    </div>

  <div class="container my-8 dark:prose-light dark:text-white grid grid-cols-2 lg:grid-cols-3 lg:gap-8 sm:w-5/6 max-w-[1200px] px-4 sm:mx-auto" >
    <div class = "prose dark:text-white col-span-2 !w-full !max-w-full" style="max-width: 100%;">
    <div class="container mx-auto text-2xl xl:text-3xl capitalize font-bold pb-0 font-sans mb-4" style = "color:peru">{{ .Title }}</div>
        <div class = "flex gap-2 mb-2 items-center">
        <a href="#recipe" class="rounded-md px-4 py-2 hover:opacity-50 text-xs sm:text-base" style="background-color: lavender; text-decoration: none; font-weight: 600;">Jump To Recipe</a>

        <a href="#recommended" class="rounded-md px-4 py-2 hover:opacity-50 text-xs sm:text-base" style="background-color: peachpuff; text-decoration: none; font-weight: 600;">Similar Recipes</a>

    </div>

    {{ partial "tags.html" .}}
    
    {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
    <h5 class="text-sm flex items-center flex-wrap"> 
      <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <rect x="4" y="5" width="16" height="16" rx="2" />
        <line x1="16" y1="3" x2="16" y2="7" />
        <line x1="8" y1="3" x2="8" y2="7" />
        <line x1="4" y1="11" x2="20" y2="11" />
        <rect x="8" y="15" width="2" height="2" />
      </svg>
      {{ $datestr | i18n "postedOnDate" }}
      {{ if ne $datestr $lastmodstr }}
        &nbsp{{ $lastmodstr | i18n "lastModified" }}</h5><h5 class="text-sm flex items-center flex-wrap">
      {{ else }}
        &nbsp;&bull;&nbsp;
      {{ end }}
      <svg xmlns="http://www.w3.org/2000/svg" class="mr-1" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <circle cx="12" cy="12" r="9" />
        <polyline points="12 7 12 12 15 15" />
      </svg>
      {{ i18n "readingTime"}}{{ .ReadingTime }}&nbsp;{{ i18n "readTime" }}
      &nbsp;&bull;
      <svg xmlns="http://www.w3.org/2000/svg" class="mx-1" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
        <path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0" />
        <line x1="3" y1="6" x2="3" y2="19" />
        <line x1="12" y1="6" x2="12" y2="19" />
        <line x1="21" y1="6" x2="21" y2="19" />
      </svg>
      {{ .WordCount }}&nbsp;{{ i18n "words" }}
      {{ if not (or (or .Site.Params.hideOtherLanguages .Params.hideOtherLanguages) false) }}
        {{ if .IsTranslated -}}
          {{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
          {{- $links := apply $sortedTranslations "partial" "translation_link.html" "." -}}
          {{- $cleanLinks := apply $links "chomp" "." -}}
          {{- $linksOutput := delimit $cleanLinks (i18n "translationsSeparator") -}}
          &nbsp;&bull;&nbsp;{{ i18n "translationsLabel" }}&nbsp;{{ $linksOutput }}
        {{- end }}
      {{ end }}

    </h5>
    {{ end }}

    {{ if (or .Site.Params.toc .Params.toc) }}
    {{- partial "toc.html" . -}}
    {{ end }}

    <div class="dark:text-gray-500 text-left text-sm sm:text-base container">
     {{ .Content }}
    </div>
     <div class = "flex justify-center w-full" style = "background-color: lavenderblush; align-content:center; padding: 1rem; gap: 3rem; color: black;">
      <div class="h-24 w-24" style="padding-bottom: 10rem;">
        <a href = "instagram.com/passionfruit_kitchen" style="padding:0; margin:0; border:0;" class="hover:opacity-50"> <img src = "https://kchenturtles.github.io/PassionfruitKitchen/instagram.png" style="align-self: center;"/></a>
     </div>
        <div style = "display: block; align-self: center;">
            <div style = "background-color: lavenderblush; font-size: x-large; font-weight: 900; font-family: 'Times New Roman', Times, serif; text-align: center; padding-top: 1rem;"> Tried this recipe?</div>
            <div style = "display: flex; flex-wrap: wrap; gap: 0.5em; background-color: lavenderblush; padding-top: 0; margin-bottom: 2rem; max-width: fit-content;">Snap a picture and tag me <a href = "instagram.com/passionfruit_kitchen" style = "color:purple" class = "button hover:opacity-50"> @passionfruit_kitchen </a> on Instagram!</div>
        </div>
     </div>
     {{- partial "categories.html" . -}}

     <div class="px-24"><hr></hr></div>

     {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
     <div id="recommended" class="container mx-auto text-xl mb-4 mt-12 lowercase font-bold pb-0 font-sans text-center w-full" style = "color:peru">You Might Also Like:</div>
     <div class="container p-2 overflow-hidden mx-auto grid grid-cols-4 gap-4">
         {{ $related := .Site.RegularPages.Related . | first 4 }}
         {{ with $related }}
         {{ range . }}
         {{- partial "mini-blog-card.html" . -}}
       {{ end }}
     </div>
     {{ end }}
     <hr></hr>

  <div class = "mb-20 mt-20 w-full" >
    <div style = "display: flex; justify-content: space-between;">
        <div class="previous-post">
            {{ if .Prev }}
            <div style = "display: block;">
                <div class="font-sans font-bold text-xs lg:text-lg lowercase" style ="color:purple">prev</div>
                <a class="link-reverse text-left text-xs lg:text-lg font-light hover:text-yellow-600" href="{{ .Prev.Permalink }}?ref=footer">« {{ .Prev.Title | truncate 50 "..."}}</a>
            </div>
            {{ end }}
        </div>
    
        <div class="next-post text-right">
            {{ if .Next }}
            <div style = "display: block;">
                <div class="font-sans font-bold text-xs lg:text-lg lowercase text-right" style ="color:purple">next</div>
                <a class="link-reverse text-right text-xs lg:text-lg font-light hover:text-yellow-600" href="{{ .Next.Permalink }}?ref=footer">{{ .Next.Title | truncate 25 "..." }} »</a>
            </div>
            {{ end }}
        </div>
      </div>    
    
  </div>
    </div>
     <div class = "invisible lg:visible overflow-hidden lg:p-2 !col-span-1 w-full">
        <div class="h-0 overflow-hidden lg:h-auto">
        {{- partial "intro-vertical.html" . -}}
        </div>
        <div class="container p-0 lg:p-2 mx-auto h-0 w-0 overflow-hidden grid lg:h-auto lg:w-auto lg:grid-cols-2 gap-4 xl:gap-2">
            {{ $latestPosts := first 8 (sort .Site.RegularPages "Date" "desc") }}
            {{ with $latestPosts }}
            {{ range . }}
            {{- partial "vertical-mini-blog-card.html" . -}}
          {{ end }}
          
        </div>
        {{ end }}
      </div>
  </div>

</body>
</html>

{{ end }}
