{{ define "main" }}
<!DOCTYPE html>
<html>
<head>
    <link href="/dist/styles.css" rel="stylesheet">
</head>
<body>
  <div class="container mx-auto mt-12 ">
  <h1 class="container mx-auto text-3xl uppercase font-bold pb-0 pb-4 font-sans" style = "color:peru">{{ .Title }}</h1>

  {{ $paginator := .Paginate .Pages.ByDate.Reverse }}
  <div class="container mx-auto mb-12 grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 lg:gap-8">
    {{ range $paginator.Pages }}
      {{- partial "blog-card.html" . -}}
    {{ end }}
  </div>

  {{- partial "pagination.html" . -}}
  </div>
</body>
</html>

{{ end }}