<div style = "color:purple" class="text-center shadow-lg bg-white rounded hover:text-yellow-600 hover:shadow-xl dark:invert">
<a href="{{ .Permalink }}" class="hover:text-yellow-600">
  {{ if .Params.thumbnail }}
  <div class="relative dark:invert">
    <img src="https://kchenturtles.github.io/PassionfruitKitchen/{{ .Params.thumbnail }}" alt="{{ .Params.title }}" class="shadow-sm object-cover h-96" style = "width: 120%;" />
    {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
    <div class="absolute top-4 right-4 rounded shadow bg-white dark:invert text-sm px-2 py-0.5" >
      {{ partial "date.html" (dict "date" .Date "language" $.Page.Language "format" "short") }}
    </div>
    {{ end }}
  </div>
  {{ end }}
  <div class="my-2 text-xl font-bold p-2 px-8 text-center hover:text-yellow-600">{{ .Params.title }}</div>
  <div>{{ .Params.description }}</div>
</a>
</div>
