<div style = "color:purple" class = "hover:text-yellow-600">
    <a href="{{ .Permalink }}" class = "dark:text-green-500 hover:text-yellow-600">
      {{ if .Params.thumbnail }}
      <div class="relative">
        <img src="https://kchenturtles.github.io/PassionfruitKitchen/{{ .Params.thumbnail }}" alt="{{ .Params.title }}" class="w-auto h-96 object-cover"/>
        {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
        <div class="absolute top-4 right-4 shadow bg-gray-50 rounded-sm text-gray-700 dark:invert text-sm px-2 py-0.5" >
          {{ partial "date.html" (dict "date" .Date "language" $.Page.Language "format" "short") }}
        </div>
        {{ end }}
      </div>
      {{ end }}
      <div class="my-2 text-xl font-bold hoverlink font-sans text-center pt-4 pb-4 hover:text-yellow-600" >{{ .Params.title }}</div>
      <div>{{ .Params.description }}</div>
    </a>
    </div>