<div class = "container mt-12 mx-auto flex flex-wrap gap-3 justify-start items-center">
  <div class="text-xl font-bold pb-0 font-sans text-black dark:text-white">Categories:</div>
    {{ range .Params.categories }}
    <div style = "background-color: peru; padding-left:0.5em; padding-right: 0.5em; max-width: max-content; height: fit-content; border-radius: 0.25rem;" class = "button hover:opacity-50" ><a  style = "color: white; text-decoration: none; max-width: fit-content;" href="{{ "../PassionfruitKitchen/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </div>
  {{ end }}
</div>