<div style="background-color: papayawhip;"><div class = "dark:bg-gray-900">
<footer class="container mx-auto px-0 pt-6 ">
  <div class = "grid sm:grid-cols-3 place-items-center">
    <a href = "{{ .Site.Home.Permalink }}">
      <img src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" class="md:my-6 hover:opacity-50 max-h-20 max-w-20" />
    </a>
    {{- partial "social.html" . -}}
    <div class = "flex flex-wrap gap-4 md:gap-8">
    <div class = "md:my-8 font-bold text-sm sm:text-base lg:text-lg xl:text-xl mb-4 text-left justify-center">
      <div class = "mb-2">Menu</div>
      <ul class="underline font-light text-sm">
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relLangURL }}" style = "text-decoration: underline;" class = "hover:text-yellow-600">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </div>
    <div class = "md:my-8 font-bold text-sm sm:text-base lg:text-lg xl:text-xl text-left justify-center">
      <div class = "mb-2">Tags</div>
      <ul class = "underline font-light text-sm">
        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
          <li><a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" style = "text-decoration: underline;" class = "hover:text-yellow-600">{{ $name }}</a></li>
        {{ end }}
      </ul>
    </div>
  </div>
  </div>
  <div class = "flex justify-between items-center">
    <span class="text-xs font-light pl-2">
      Copyright 2021-2024 © Kendree C. All rights reserved.
    </span>
    <span onclick="window.scrollTo({top: 0, behavior: 'smooth'})" class="p-1 cursor-pointer">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M18 15l-6 -6l-6 6h12" />
      </svg>
    </span>
  </div>
</footer>
</div>
</div>
{{ if .Site.Params.enableSearch }}
{{- partial "search-ui.html" . -}}
{{ end }}

{{ template "_internal/google_analytics.html" . }}

{{ if ge (len .Site.Languages) 3 }}
<script>
  const languageMenuButton = document.querySelector('.language-switcher');
  const languageDropdown = document.querySelector('.language-dropdown');
  languageMenuButton.addEventListener('click', (evt) => {
    evt.preventDefault()
    if (languageDropdown.classList.contains('hidden')) {
      languageDropdown.classList.remove('hidden')
      languageDropdown.classList.add('flex')
    } else {
      languageDropdown.classList.add('hidden');
      languageDropdown.classList.remove('flex');
    }
  })
</script>
{{ end }}

{{ if .Site.Params.darkModeToggle }}
<script>
  // On page load or when changing themes
  const darkmode = document.querySelector('.toggle-dark-mode');
  function toggleDarkMode() {
    if (document.documentElement.classList.contains('dark')) {
      document.documentElement.classList.remove('dark')
      localStorage.setItem('darkmode', 'light')
    } else {
      document.documentElement.classList.add('dark')
      localStorage.setItem('darkmode', 'dark')
    }
  }
  if (darkmode) {
    darkmode.addEventListener('click', toggleDarkMode);
  }

  const darkStorage = localStorage.getItem('darkmode');
  const isBrowserDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;

  if (!darkStorage && isBrowserDark) {
    document.documentElement.classList.add('dark');
  }

  if (darkStorage && darkStorage === 'dark') {
    toggleDarkMode();
  }
</script>
{{ end }}

<script>
  const mobileMenuButton = document.querySelector('.mobile-menu-button')
  const mobileMenu = document.querySelector('.mobile-menu')
  function toggleMenu() {
    mobileMenu.classList.toggle('hidden');
    mobileMenu.classList.toggle('flex');
  }
  if(mobileMenu && mobileMenuButton){
    mobileMenuButton.addEventListener('click', toggleMenu)
  }
</script>
