{{ $taxonomy := "tags" }} {{ with .Param $taxonomy }}
<head>
  <link rel="stylesheet" href="https://use.typekit.net/yoj4fju.css">
</head>
<body>
<div style = "align-items: center; align-content: center; align-self: center; display: flex; flex-wrap: wrap; gap:0.5rem; margin-bottom: 1rem; font-family:'marigny', sans-serif; font-weight:200;">
  tags:  
  {{ range $index, $tag := . }} {{ with $.Site.GetPage (printf "/%s/%s"
  $taxonomy $tag) -}}
    <a href="{{ .Permalink }}" class="hover:opacity-50" style = "color: purple; font-family:'marigny', sans-serif; font-weight:200;">{{ $tag | urlize }}, </a>
  {{- end -}} {{- end -}}
</div>
</body>
{{ end }}