{{ define "main" }}
  <!DOCTYPE html>
  <html>
  <head>
    <link href="/dist/styles.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.typekit.net/yoj4fju.css">
  </head>
  <body class="dark:bg-gray-900">

    {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
    <div style = "min-height: 20rem; background-color: lavenderblush;" class="min-h-80 dark:bg-dark"></div>
      <div class = "bg-white dark:bg-dark container p-2 mx-auto -mt-64 mb-12 border-solid border md:w-5/6 max-w-[1200px] sm:mx-auto mx-4" style = "border-color: lavenderblush">
    <div class="container p-2 md:p-6 mx-auto grid grid-cols-2 sm:grid-cols-4 xl:grid-cols-4 gap-4 lg:gap-4 xl:gap-8 justify-center">
      {{ range first 4 (.Site.Pages.ByParam "featured")  }}
      <div class="shadow-lg w-full justify-center mx-auto">
        {{- partial "bordered-blog-card.html" . -}}
      </div>
      {{ end }}
    </div>
    </div>

    {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
    <div class= "sm:w-5/6 max-w-[1200px] sm:mx-auto mx-4" >
    <div class = "container mx-auto grid grid-cols-1 lg:grid-cols-3 lg:gap-8 justify-center">
      <div class="lg:col-span-2">
        <div class = "my-2 text-5xl font-extrabold font-mono text-center md:text-left lg:text-center xl:text-left" style="font-family:'fleur', sans-serif; font-weight:200;">The Latest</div>
        {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle)  }}
        <div class = "mx-auto">
          {{- partial "blog-post.html" . -}}
       </div>
        {{ end }}
        <div class = "container mx-auto lg:mt-4 hidden lg:block" style = "margin-top:0.5rem; max-width: fit-content;">
          <a href = "/posts/" class="text-lg xl:text-xl rounded-sm shadow-sm hover:shadow-lg py-2 px-48 hover:opacity-50" style = "background-color:lavender; text-align: center; color:black; font-family:'marigny', sans-serif; font-weight:400;">All Posts</a>
        </div>
      </div>
      <div class = "items-center lg:w-full mx-8 lg:mx-0" style="font-family: 'marigny', sans-serif; font-weight:200;">
        <div style = "background-color: lavender;" class="shadow-sm container mx-auto my-2 text-lg lg:text-xl pb-0 pt-4 mb-0 mt-0 dark:bg-dark text-center pb-4 mb-1 dark:text-black border-0">Collections</div>
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" style = "opacity:1;"><div style = "background-color: lavender;" class="shadow-sm hover:shadow-lg text-lg p-4 border-0 mt-1 hover:opacity-50 dark:text-black">{{ $name }} {{ .Count }}</div></a>
          {{ end }}
      </div>
    </div>
    </div>

     {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
      <div class="md:w-5/6 max-w-[1200px] sm:mx-auto mx-1 my-12 lg:my-24">
        <div class = "border-8 border-double mx-auto w-fit" style="border-color:lavenderblush;">
        <div class="container mx-auto text-4xl font-bold py-8 font-sans text-center" style = "background-color: lavenderblush; font-family:'fleur', sans-serif; font-weight:200">Recipes To Make This Season</div>
       <div class="w-full" style="background-color: lavenderblush;">
        <div class="container px-2 sm:px-8 w-fit grid place-items-center grid-cols-2 sm:grid-cols-4 gap-4 xl:gap-8 pb-8" style="background-color: lavenderblush;">
          {{ range first 4 (.Site.Pages.ByParam "summer") }}
          {{- partial "blog-card.html" . -}}
        {{ end }}
      </div>
      </div>
      </div>
    </div>

      {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
      <div class="md:w-5/6 max-w-[1200px] sm:mx-auto mx-4 my-8 mt-12">
      <div class="container mx-auto my-2 text-4xl font-bold font-sans text-center" style = "font-family:'fleur', sans-serif; font-weight:200">What To Make This Weekend</div>
      <div class="container mx-auto grid place-items-center grid-cols-2 sm:grid-cols-4 gap-4 xl:gap-8">
        {{ range first 4 (.Site.Pages.ByParam "independence") }}
          {{- partial "blog-card.html" . -}}
        {{ end }}
      </div>
      </div>

    
    {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
    <div style = "background-color: lavender; padding-top: 1rem; min-height: 15rem;"></div>
    <div class =  "dark:text-black font-bold text-xl mb-4 sm:w-5/6 max-w-[1200px] sm:mx-auto mx-4"  style = "background-color: white; margin-top:-12rem; border-color: lavenderblush; padding-top: 1rem; border-style: solid; border-width: 2px;">
      <div class = "container mx-auto text-3xl font-bold pb-0 pb-2 lg:pb-4 mt-0 font-sans text-center " style = "font-family:'fleur', sans-serif; font-weight:200">Top Collections</div>
      <div class="container mx-auto p-4 grid grid-cols-4 lg:grid-cols-8 gap-1 lg:gap-2 place-items-center">
        {{ range $name, $taxonomy := .Site.Taxonomies.featured_categories }}
          <div class = "p-2 hoverlink w-min">
              <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" class="hover:text-yellow-600">
            <div class="hover:opacity-50 w-20 h-20 sm:w-24 sm:h-24 md:w-32 md:h-32 lg:w-24 lg:h-24 xl:w-32 xl:h-32 rounded-full">
            <img src="https://kchenturtles.github.io/PassionfruitKitchen/categories/{{ $name }}.jpeg" alt="{{ $name }}" class="w-full h-full object-cover overflow-hidden rounded-full"/>
          </div>
          <div class="my-0 text-sm lg:text-base font-light hovername" style = "text-decoration:none; font-family: 'marigny', sans-serif; font-weight:200; text-align: center;">{{ $name }}</div>
                <!-- <div class="relative">
                  <img src="https://kchenturtles.github.io/PassionfruitKitchen/categories/{{ $name }}.jpeg" alt="{{ $name }}" class="rounded-lg shadow-sm w-0.5em h-0.5em object-fill" style = "width: 20em; height:20em; object-fit: cover;" />            
                </div>
                <div class="my-2 text-xl font-semibold" style = "font-family: Georgia, 'Times New Roman', Times, serif;">{{ $name }}</div> -->
              </a>
            </div>
        {{ end }}
    </div>
    <!-- </div> -->
    </div>
   
        {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
    <div style = "background-color: lavenderblush;" class="dark:invert p-4 lg:px-16 mt-8">
        <div class = "text-3xl text-center mb-4" style = "font-family:'fleur', sans-serif">Search by Diet</div>
        <div class="container mx-auto flex gap-2 lg:gap-4 justify-center">
          {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            <div class="rounded-full p-1 flex hover:opacity-50 border" style = "background-color: pink;">
                <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" class = "justify-center items-center mx-auto my-auto text-white">
                  <img src = "https://kchenturtles.github.io/PassionfruitKitchen/tags/{{ $name }}.png" alt="{{ $name }}" class="rounded-full shadow-sm w-8 h-8 md:w-12 md:h-12 object-cover mx-auto hover:rounded-sm text-center justify-center filter invert" />
                </a>
              </div>
          {{ end }}
      </div>
    </div>
      
    {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
    <div class="md:w-5/6 max-w-[1200px] sm:mx-auto mx-4 my-8">
    <div class="container mx-auto my-2 text-4xl font-bold font-sans text-center" style = "font-family:'fleur', sans-serif; font-weight:200">Classic Dinners</div>
    <div class="container mx-auto grid place-items-center grid-cols-2 sm:grid-cols-4 gap-4 xl:gap-8">
      {{ range first 4 (.Site.Pages.ByParam "casserole") }}
        {{- partial "blog-card.html" . -}}
      {{ end }}
    </div>
    </div>

      {{- partial "intro.html" . -}}

      <div class="md:w-5/6 max-w-[1200px] sm:mx-auto mx-4 my-8">
        <div class="container mx-auto my-2 text-4xl font-bold font-sans text-center" style = "font-family:'fleur', sans-serif; font-weight:200">Easy One-Pot Meals</div>
        <div class="container mx-auto grid place-items-center grid-cols-2 sm:grid-cols-4 gap-4 xl:gap-8">
          {{ range first 4 (.Site.Pages.ByParam "one-pot") }}
            {{- partial "blog-card.html" . -}}
          {{ end }}
        </div>
        </div>


    <div class = "mb-2">
      {{- partial "newsletter.html" . -}}
    </div>

    {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
    <div class="md:w-5/6 max-w-[1200px] sm:mx-auto mx-4 my-8">
      <div class="container mx-auto my-2 text-4xl font-bold font-sans text-center" style = "font-family:'fleur', sans-serif; font-weight:200">Dessert Ideas</div>
    <div class="container mx-auto grid col-auto auto-cols-min place-items-center grid-cols-2 sm:grid-cols-4 gap-4 lg:gap-8">
      {{ range first 4 (.Site.Pages.ByParam "breakfast") }}
        {{- partial "blog-card.html" . -}}
      {{ end }}
    </div>
    </div>
  
      {{ if .Site.Params.enableSearch }}
      {{- partial "search-ui.html" . -}}
      {{ end }}

  
  </body>
  </html>

  {{ end }}
