{{ define "main" }}
  <!DOCTYPE html>
  <html>
  <head>
    <link href="/dist/styles.css" rel="stylesheet"> 
  </head>
  <body class="dark:bg-gray-900">

    {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
    <div style = "min-height: 20rem; background-color: lavenderblush;" class="min-h-80 dark:bg-dark"></div>
      <div class = "bg-white dark:bg-dark container p-2 mx-auto -mt-64 mb-12 border-solid border sm:w-8/12 md:w-11/12 lg:w-10/12 xl:w-full" style = "border-color: lavenderblush">
    <div class="container p-6 mx-auto grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 lg:gap-4 xl:gap-8 justify-center">
      {{ range first 4 (.Site.Pages.ByParam "featured")  }}
      <div class="shadow-lg w-96 md:w-auto lg:w-96 xl:w-auto justify-center mx-auto">
        {{- partial "bordered-blog-card.html" . -}}
      </div>
      {{ end }}
    </div>
    </div>

    {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
    <div class= "mt-0 mb-0 mx-12" >
    <div class = "container mx-auto grid md:grid-cols-1 lg:grid-cols-2 justify-center">
      <div>
        <div class = "my-2 text-2xl font-extrabold font-mono uppercase text-center md:text-left lg:text-center xl:text-left" style="color: purple; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">The Latest</div>
        {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Type" $frontBundle)  }}
        <div class = "mx-auto">
          {{- partial "blog-post.html" . -}}
          </div>
        {{ end }}
        <div class = "container mx-12" style = "margin-top:3rem; max-width: fit-content; margin-bottom: 3rem;">
          <!-- <a href = "/posts/" class = "md:hide lg:display hoversection" style = "text-align: center; padding-top:1rem; padding-bottom:1rem; font-size:x-large; color:white; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; padding-left: 10rem; padding-right: 10rem;">All Posts</a> -->
        </div>
      </div>
      <div class = "items-center ml-auto mr-auto md:mr-0 w-3/4">
        <div style = "background-color: papayawhip;" class="container mx-auto my-2 text-xl font-bold pb-0 pt-4 mb-0 mt-0 dark:bg-dark text-center pb-4 mb-1 dark:text-black">Collections</div>
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
            <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" style = "opacity:1;"><div style = "background-color: papayawhip;" class="border text-lg font-semibold p-4 border-white mt-1 hover:opacity-50 dark:text-black">{{ $name }} {{ .Count }}</div></a>
          {{ end }}
      </div>
    </div>
    </div>
    
    {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
    <div style = "min-height: 15rem; background-color: lavender;" class="dark:invert p-16 mt-8">
        <div class = "text-2xl font-extrabold font-mono uppercase text-center mb-12" style = "color: purple; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Search by Diet</div>
        <div class="container mx-auto flex flex-wrap w-7/8 md:w-7/8 lg:w-full xl:w-3/4 2xl:w-1/2 gap-2 justify-center">
          {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
            <div class="mx-auto rounded-full w-40 h-40 flex hover:opacity-50" style = "background-color: purple;">
                <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" class = "justify-center items-center mx-auto my-auto text-white">
                  <img src = "https://kchenturtles.github.io/PassionfruitKitchen/tags/{{ $name }}.png" alt="{{ $name }}" class="rounded-full shadow-sm w-20 h-20 object-cover mx-auto hover:rounded-sm text-center justify-center filter invert" />
                  <div class="my-2 text-xl font-semibold hover:underline">{{ $name }}</div>
                </a>
              </div>
          {{ end }}
      </div>
    </div>

      {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
      <div style = "margin-top:8rem; margin-bottom:5rem;" class="mx-12">
      <div class="container mx-auto my-2 text-2xl uppercase font-bold pb-0 pt-4 mb-6 mt-0 font-sans text-center" style = "color:purple">What To Make This Weekend</div>
      <div class="container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-8">
        {{ range first 4 (.Site.Pages.ByParam "independence") }}
          {{- partial "blog-card.html" . -}}
        {{ end }}
      </div>
      </div>

      {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
      <div class = "mt-8 pt-4 pb-8 mb-8" >
        <div class = "border-8 border-double container mx-auto" style="border-color:lavenderblush">
        <div class="container mx-auto text-2xl uppercase font-bold pb-0 pt-8 pb-4 mt-0 font-sans text-center " style = "color:black; background-color:lavenderblush; border-color: purple;">Recipes To Make This Season</div>
      <div class="container p-10 pt-0 mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-8" style = "background-color:lavenderblush;">
        {{ range first 4 (.Site.Pages.ByParam "summer") }}
          {{- partial "blog-card.html" . -}}
        {{ end }}
      </div>
      </div>
    </div>

    
    {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
    <div style = "background-color: papayawhip; padding-top: 1rem; min-height: 15rem;"></div>
    <div class =  "dark: text-black font-bold text-xl mb-4 container mx-auto"  style = "background-color: white; margin-top:-12rem; padding:1rem; border-color: peachpuff; padding-top: 1rem; border-style: solid; border-width: 2px;">
      <div class = "container mx-auto text-2xl uppercase font-bold pb-0 pb-4 mt-0 font-sans text-center " style = "color:purple">Top Collections</div>
      <div class="container mx-auto grid sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-8 gap-4 lg:gap-8">
        {{ range $name, $taxonomy := .Site.Taxonomies.featured_categories }}
          <div class = "p-2 hoverlink">
              <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" class="hover:text-yellow-600">
                <div class="relative hover:opacity-50">
            <img src="https://kchenturtles.github.io/PassionfruitKitchen/categories/{{ $name }}.jpeg" alt="{{ $name }}" class="rounded-full shadow-sm w-0.5em h-0.5em object-cover" style = "object-fit: cover; height:7em; width:7em;" />
          </div>
          <div class="my-0 text-lg font-light hovername" style = "text-decoration:none; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; text-align: center;">{{ $name }}</div>
                <!-- <div class="relative">
                  <img src="https://kchenturtles.github.io/PassionfruitKitchen/categories/{{ $name }}.jpeg" alt="{{ $name }}" class="rounded-lg shadow-sm w-0.5em h-0.5em object-fill" style = "width: 20em; height:20em; object-fit: cover;" />            
                </div>
                <div class="my-2 text-xl font-semibold" style = "font-family: Georgia, 'Times New Roman', Times, serif;">{{ $name }}</div> -->
              </a>
            </div>
        {{ end }}
    </div>
    <!-- </div> -->
    </div>
   
      
    {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
    <div class="mt-16 mx-12">
    <div class="container mx-auto text-2xl uppercase font-bold pb-0 pb-4 pt-4 mt-0 font-sans text-center" style = "color:purple">Classic Dinners</div>
    <div class="container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-8">
      {{ range first 4 (.Site.Pages.ByParam "casserole") }}
        {{- partial "blog-card.html" . -}}
      {{ end }}
    </div>
    </div>

      {{- partial "intro.html" . -}}

      <div style = "margin-top:5rem; margin-bottom: 5rem;" class="mx-12">
        <div class="container mx-auto text-2xl uppercase font-bold pb-0 pt-8 pb-4 mt-0 font-sans text-center "style = "color:purple;">Easy One-Pot Meals</div>
        <div class="container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-8">
          {{ range first 4 (.Site.Pages.ByParam "one-pot") }}
            {{- partial "blog-card.html" . -}}
          {{ end }}
        </div>
        </div>


    <div class = "mb-16">
      {{- partial "newsletter.html" . -}}
    </div>

    {{ $frontBundle := .Site.Params.frontBundle | default "blog" }}
    <div class="mt-24 mb-24 mx-12">
      <div class = "container mx-auto text-2xl uppercase font-bold pb-0 pb-4 mt-0 font-sans text-center " style = "color:purple">Dessert Ideas</div>
    <div class="container mx-auto grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-8">
      {{ range first 4 (.Site.Pages.ByParam "breakfast") }}
        {{- partial "blog-card.html" . -}}
      {{ end }}
    </div>
    </div>
  
      {{ if .Site.Params.enableSearch }}
      {{- partial "search-ui.html" . -}}
      {{ end }}

  
  </body>
  </html>

  {{ end }}
